*{
    margin:0px;
    border: 0px; 
    padding: 0px;
    font-family: monospace;
}

.navbar{
    height:7vh;   
    background-color:#cff4d2;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 2px 4px 13px -11px black;    
}

#mainnav{
    flex-grow: 1;
    margin-left: 5px;
}
#titlelogo{
    flex-grow: 1;
}
#titlelogo img{
    width:50px;
}
.span1{
    font-size: 2.5em;
    color: #205072;
    text-align: center;
}
#extra{
    flex-grow: 50;
}
.loging{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding: 10px 19px 9px 15px;
}
.loging li{
    margin: 0px 10px;
    padding: 2px 5px;
} 

.tollright {
    height: 23.5px;
    width: 23.5px; 
}
.btn {
    background-color: #cff4d2;
    padding: 2px 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
  }
.toolrighticon{
   
    fill:#2d6c7c;
}

.content{
    display:flex;
    height:80vh;
    border:1px solid black;
}

.menubar{
    background-color: #cff4d2;
    width:fit-content;
    display: inline-block;
    padding: 2px;
    box-shadow: 2px 4px 13px -11px black; 
    height:80vh;
    
}
.rightbar{
    list-style:none ;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    width:fit-content;
    
    
}
.rightbar li{
    padding: 10px 10px 5px;
}

.cardpatale{
    border:1px solid black;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    height: 75vh;
}

.cards{
    border: 1px solid black;
    height:30vh;
    width:30vw;
    margin: 10px;
    background-color: #cff4d2;

}
