*{
    margin:0px;
    border: 0px; 
    padding: 0px;
    font-family: monospace;
}

.navbar{
    height:7vh;   
    background-color:#205072;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 2px 4px 13px -11px black;    
}

#mainnav{
    flex-grow: 1;
    margin-left: 5px;
}
#titlelogo{
    flex-grow: 1;
}
#titlelogo img{
    width:50px;
}
.span1{
    font-size: 2.5em;
    color: #cff4d2;
    text-align: center;
}
#extra{
    flex-grow: 50;
}
.loging{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding: 10px 19px 9px 15px;
}
.loging li{
    margin: 0px 10px;
    padding: 2px 5px;
} 

.tollright {
    height: 23.5px;
    width: 23.5px; 
}

.tollright:hover {
    height: 29.5px;
    width: 29.5px; 
} 
.btn:hover {
    height: 35.5px;
    width: 35.5px; 
}

.btn {
    background-color: #205072;
    padding: 2px 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
  }
.toolrighticon{
   
    fill:#7dc495;
}

.content{
    display:flex;
    height:fit-content;
}

.menubar{
    background-color: #205072;
    width:fit;
    display: inline-block;
    padding: 2px;
    box-shadow: 2px 4px 13px -11px black; 
    height:unset;
    
}
.rightbar{
    list-style:none ;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    
    
}
.rightbar li{
    padding: 10px 10px 5px;
}

.cardpatale{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.cards{
    height:40vh;
    width:35vw;
    margin: 10px;
    background-color: #cff4d2;
    box-shadow: 0 0 20px -9px black;
    border-radius: 5%;
    position: relative;

}
.cards:nth-child(1){
    width:85vw;
    border-radius: 4%;
}
.cards:nth-child(2n-1){
    margin-right: 20px;
}

.cards:nth-child(2n){
    margin-left: 20px;
}
.cards img{
    height:80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
